.u-set-1 {
	background-color: $color-set-1;
}
.u-set-2 {
	background-color: $color-set-2;
}
.u-set-3 {
	background-color: $color-set-3;
}
.u-set-4 {
	background-color: $color-set-4;
}
.u-set-5 {
	background-color: $color-set-5;
}