.main-content {
	&.has-sidebar {
		float: right;
		width: 79%;
	}
}

.page-section {
	border-top: 2px solid black;
	padding-top: 20px;
	margin-top: 20px;
}

.sidebar {
	float: left;
	width: 20%;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0 0 10px 20px;
		padding: 0;
	}
}