{% extends "base.twig" %}

{% block content %}
    <p>Example child theme, Timber will look first in the child theme and then falls back to the parent theme (same as WordPress logic).</p>
{% endblock %}
