---
layout: "page"
title: "Media Object"
description: "Media Object."
---
<h1>Media Object</h1>

{% include 'example.twig' with {
	'title': 'Standard',
	'template': 'partials/o-media.twig',
	'vars': {
		'link': '',
		'image': {
			'src': 'http://placehold.it/200x150',
			'alt': 'placeholder'
		},
		'body': 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.'
	}
} %}

{% include 'example.twig' with {
	'title': 'Reverse',
	'template': 'partials/o-media.twig',
	'vars': {
		'link': '',
		'image': {
			'src': 'http://placehold.it/200x150',
			'alt': 'placeholder'
		},
		'body': 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.',
		'class': 'o-media--reverse'
	}
} %}

{% include 'example.twig' with {
	'title': 'Flush',
	'template': 'partials/o-media.twig',
	'vars': {
		'link': '',
		'image': {
			'src': 'http://placehold.it/200x150',
			'alt': 'placeholder'
		},
		'body': 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.',
		'class': 'o-media--flush'
	}
} %}
