---
layout: "page"
title: "Typeography"
description: "Typeography."
---
<h1>Typeography</h1>

{% set bodytext %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quo modo? Ita prorsus, inquam; Si mala non sunt, iacet omnis ratio Peripateticorum. Duo Reges: constructio interrete. Indicant pueri, in quibus ut in speculis natura cernitur. Non est ista, inquam, Piso, magna dissensio.<p>
{% endset %}
{% include 'example.twig' with {
    'title': 'Body Text',
    'code': bodytext
} %}

{% set headings %}
<h1>h1 Heading</h1>
<h2>h2 Heading</h2>
<h3>H3 Heading</h3>
<h4>h4 Heading</h4>
<h5>h5 Heading</h5>
<h6>h6 Heading</h6>
{% endset %}
{% include 'example.twig' with {
    'title': 'Headings',
    'code': headings
} %}

