---
layout: "page"
title: "Widgets"
description: "Widgets."
---

<h1>Widgets</h1>

{% include 'example.twig' with {
    'title': 'Left aligned',
    'template': 'partials/c-widget.twig',
    'vars': {
        'title': 'Widget title',
        'body': 'Left alight widget.',
        'class': 'u-set-1 u-text--left'
    }
} %}

{% include 'example.twig' with {
    'title': 'Centrally aligned',
    'template': 'partials/c-widget.twig',
    'vars': {
        'title': 'Widget title',
        'body': 'Centrally aligned widget.',
        'class': 'u-set-2'
    }
} %}

{% include 'example.twig' with {
    'title': 'Right aligned',
    'template': 'partials/c-widget.twig',
    'vars': {
        'title': 'Widget title',
        'body': 'Right aligned widget.',
        'class': 'u-set-3 u-text--right'
    }
} %}
