{% if tweets %}
<div class="tweets">
    <h3>Tweets</h3>
{% for tweet in tweets %}

{% include 'partials/o-media.twig' with {
    'link': tweet.link,
    'image': {
        'src': tweet.avi,
        'alt': tweet.tweet
    },
    'body': tweet.tweet ~ '<div>' ~ tweet.time ~'</div>'
} %}
{% endfor %}
</div>
{% endif %}
